.contact {
  display: flex;
  flex-direction: column;

  .contact-details {
    display: flex;
    flex-grow: 1;

    .contact-details--personal, .contact-details--social {
      width: 50%;
    }
  }

  .contact-actions {
    display: flex;
    justify-content: flex-end;

    .btn {
      margin-left: 15px;
    }
  }
}