@import "../../../styles/main";

.about {

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: 'Alex Brush', cursive;
    color: $color-vermillion;
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2rem;
  }


}